.list {
  width: 1183px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px 14px;

  margin-bottom: 100px;
}

@media only screen and (min-width: 1280px) {
  .list {
    gap: 50px 29px;
  }
}

@media only screen and (min-width: 768px) {
  .item {
    flex-basis: calc((100% - 14px) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .item {
    flex-basis: calc((100% - 87px) / 4);
  }
}

.button {
  color: var(--accent);
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
