.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #121417;
}

.description {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #121417;
}
