/* .thumb {
  height: 268px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;

  margin-bottom: 14px;
}

.icon {
  fill: transparent;
  stroke: white;
  stroke-opacity: 0.8;
  cursor: pointer;

  top: 14px;
  right: 14px;
  position: absolute;
}

.icon.active {
  fill: var(--accent);
  stroke: var(--accent);
  stroke-opacity: 1;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
}

.title_wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;
}

.title {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title,
.price {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.accent {
  color: var(--accent);
}

.list {
  width: 260px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 6px;
  overflow: hidden;

  margin-bottom: 28px;
}

.item {
  position: relative;
}

.item:not(:nth-child(4n), :last-child)::after {
  background-color: var(--tag-border);
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  top: 0;
  right: -3px;
  position: absolute;
}

.button {
  color: var(--accent-text);
  background-color: var(--accent);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;

  width: 274px;
  height: 44px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px 99px;
} */
