.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18px;

  margin-bottom: 25px;
}

@media only screen and (min-width: 1280px) {
  .form {
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field {
  border-radius: 14px;
  padding: 14px 89px 14px 18px;
  width: 224px;
  height: 48px;
}

.input_wrapper {
  display: flex;
}

.input {
  color: var(--primary-color);
  background-color: var(--input-backgr);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11%;

  width: 160px;
  height: 48px;
  border: none;
  outline: none;
  padding: 14px 24px;
}

.input[name="from"] {
  border-right: 1px solid rgba(138, 138, 137, 0.2);
  border-radius: 14px 0 0 14px;
}

.input[name="to"] {
  border-radius: 0 14px 14px 0;
}

.input::placeholder {
  color: inherit;
}

.button {
  color: var(--accent-text);
  background-color: var(--accent);
  font-weight: 600;
  line-height: 1.43%;

  width: 136px;
  height: 48px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 14px 44px;

  margin-top: 7px;
  transition: background-color 250ms linear;
}

.button:hover,
.button:focus {
  background-color: var(--accent-hover);
}

@media only screen and (min-width: 768px) {
  .button {
    margin-top: 26px;
  }
}
