.list {
  width: 274px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px 14px;
  margin: 0 auto;
  margin-bottom: 100px;
}

@media only screen and (min-width: 768px) {
  .list {
    width: 577px;
    gap: 50px 29px;
  }
}
@media only screen and (min-width: 1280px) {
  .list {
    width: 1183px;
  }
}

@media only screen and (min-width: 768px) {
  .item {
    flex-basis: calc((100% - 29px) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .item {
    flex-basis: calc((100% - 87px) / 4);
  }
}
